<div class="bot" id="m1">
    Bienvenido
</div>
<div class="bot" id="m2">
    Mi nombre es
</div>
<div class="bot" id="m3">
    ¿Te puedo ayudar?
</div>
<div class="user" id="q1.1">
    Sí, por favor
</div>
<div class="user" id="q1.2">
    No, gracias
</div>
<div class="bot" id="m4">
    ¿En qué servicio estás interesado?
</div>
<div class="user" id="q2.1">
    Desarrollo web y Hosting
</div>
<div class="user" id="q2.2">
    Producción visual
</div>
<div class="user" id="q2.3">
    Social media
</div>
<div class="user" id="q2.4">
    Branding
</div>
<div class="bot" id="m1">
    
</div>
<div class="bot" id="m1">
    
</div>
<div class="bot" id="m1">
    
</div>
<div class="bot" id="m1">
    
</div>