body {
  background: #00000000;
  min-height: 100%;
}

/* top right bottom left 
	If left is ommited is the same as right
	If bottom is omitted is the same as top
	If right is ommited is the same as top
*/

/*
WIDGET NOT OPEN
*/
#startWidget {
  position: fixed;
  bottom: 5%;
  right: 0px;

  width: 86px;
  height: 58px;

  background: #e90528;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}


#avatarIcon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  
  width: 40px;
  
  z-index: 2;
}

#startChat {
  visibility: hidden;
  
  position: absolute;
  bottom: 10px;
  right: 25px;

  width: 190px;
  height: 35px;

  background: #e90528;
  color: #fff;
  border-radius: 50px;
  border-width: 0px;
  cursor: grab;
  
  
  z-index: 1;
}

#helpMessage {
  visibility: hidden;
}

/*
WIDGET OPEN ON HOVER
*/

#startWidget:hover {
  position: fixed;
  bottom: 5%;
  right: 0;
  
  min-width: 87px;
  width: 240px;
  height: 90px;
  max-width: 40%;
  max-height: 20%;

  background-color: #ffffff;
  color: #000000;
  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 50px;
  
  animation: slideUp 0.2s ease-in;
}


#startWidget:hover #startChat {
  visibility: visible;
}

#startWidget:hover #helpMessage {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startChat:hover {
  background: #d30018;

}

/*
  CHAT AND CHATBUBBLES
*/

#chat {
  position: fixed;
  right: 0;
  top: 0;
  
  min-height: 100%;
  max-height: 100%;
  width: 720px;
  
  background-color: #00000090;
  
  overflow-y: auto;
}

#optionsBox {
  position: relative;
  top: 25px;
  left: 10%;
  
  width: 80%;
  
  display: flex;
  background-color: #00000025;
  box-shadow: 0px 0px 50px -25px #fff;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  clear: both;

  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.chatbubble, .option {
  width: fit-content;
  height: fit-content;

  color: #ccc;
  font-size: 18px;
  
  box-shadow: 0 2px 4px rgb(82, 81, 81);
}

.chatbubble {
  display: block;

  margin: 3px 0px;
  padding: 13px 25px 13px 30px;
  
  cursor: default;
  
  border-radius: 10px;
}

.option {
  background: #ffffff50;
  
  margin: 15px 10px;
  padding: 13px 30px;
  
  cursor: grab;
  border-radius: 50px;
  animation: slideUp 2.5s ease;
}

[sender="bot"] {
  float: left; 
  clear: both;

}

[sender="user"] {
  float: right;
  clear: both;
  
}

.chatbubble[sender="bot"] {
  animation: slideRight 1.5s ease;
  background: #00000060;
}

.chatbubble[sender="user"] {
  background: #eb002960;
  animation: slideUp 0.75s ease;
}

.avatar[sender="bot"] {
  margin-left: -30px;
  margin-top: -15px;
}

.avatar[sender="user"] {
  margin-right: -25px;
  margin-top: -15px;
}

.link {
  display: block;
  
  min-height: 60px;
  
  color: #000000;
  background: #ffffff7e;
  font-size: 14pt;
  box-shadow: 0 1px 1px rgb(82, 81, 81);
  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding: 0px 30px;
  
  
  cursor: grab;
  border-radius: 5px;
  
  float: left;
  clear: both;
  /* animation: slideUp 2.5s ease; */
}

.linkIcon {
  margin-top: 10px;
  margin-left: -15px;
  margin-bottom: -5px;
  float: center;
}

.link:hover {
  background: #ffffff65;
  color: #dadada;
  background-image: url("https://www.westga.edu/_resources/images/external-link.svg");
  background-size: 100px;
  background-position-x: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.option:hover {
  background: #ffffff10;
  transition: 0.25s;
}

.toggleVisibility {
  position: absolute;

  height: 75px;
  width: 75px;

  background: #d30018;
  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: grab;
}

.toggleVisibility:hover {
  background: #9e0013;

}

/*
	ANIMATIONS
*/
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
